body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bdb0de;
}

.table-wrap{
  max-width: 2000px;
}
.ou {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.ou th,
.ou td{
  border: 1px solid;
  text-align: center;
  font-size: 20px;
}
.ou th{
  background-color: #ead7d7;
  font-size: 700;
  padding: 18px 10px;
}
.ou td.villa{
  background-color: #20d143;
  font-size: 50px;
}
.micro {
  padding: 20px 8px;
  font-size: 40px;
}

.ou th:nth-child(7),
.ou td:nth-child(7){
  width: 150px;
}

.ou td.Img{
  padding: 0;
  height: 150px;
  overflow: hidden;
}
.ou td.Img img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;

}

