body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bdb0de;
}

.table-wrap{
  max-width: 2000px;
}
.ou {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.ou th,
.ou td{
  border: 1px solid;
  text-align: center;
  font-size: 14px;
}
.ou th{
  background-color: #ead7d7;
  font-size: 700;
  padding: 18px 10px;
}
.ou td.villa{
  background-color: #20d143;
  font-size: 50px;
}
.micro{
  width: 100%;
}
.micro td{
  padding: 12px 8px;
  font-size: 30px;
}

